* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

nav {
  height: 50px;
  width: 90%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  }
  
  nav div {
    width: 10%;
    height: 100%;
    background-color: green;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

  #grid-image {
    grid-area: image;
  }

  #grid-about {
    grid-area: about;
  }

  #grid-hobbies {
    grid-area: hobbies;
  }

  #grid-contact {
    grid-area: contact;
  }

  #grid-emp {
    grid-area: employment;
  }

  #grid-edu {
    grid-area: education;
  }

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  gap: 10px;
  padding: 10px;
  width: 80%;
}

.grid-container > * {
  background-color: purple;
  color: white;
}

@media screen and (min-width:550px) {
  .grid-container {
    grid-template-areas: 
      "image image about about about about"
      "image image hobbies hobbies hobbies hobbies"
      "image image contact contact contact contact"
      "employment employment employment employment employment employment"
      "education education education education education education"
    ;
  }
}